
		<div class = "row">
			<ol class = "breadcrumb">
				<li><a href = "#"><span class = "glyphicon glyphicon-home"></span></a></li>
				<li class = "active">网站概况</li>
			</ol>
		</div><!--/.row-->

		<div class = "row">
			<div class = "col-xs-12 col-md-6 col-lg-3">
				<div class = "panel panel-blue panel-widget ">
					<div class = "row no-padding">
						<div class = "col-sm-3 col-lg-5 widget-left">
							<em class = "glyphicon glyphicon-comment glyphicon-l"></em>
						</div>
						<div class = "col-sm-9 col-lg-7 widget-right">
							<div class = "large">{$news}</div>
							<div class = "text-muted">动态</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-md-6 col-lg-3">
				<div class = "panel panel-orange panel-widget">
					<div class = "row no-padding">
						<div class = "col-sm-3 col-lg-5 widget-left">
							<em class = "glyphicon glyphicon-bullhorn glyphicon-l"></em>
						</div>
						<div class = "col-sm-9 col-lg-7 widget-right">
							<div class = "large">{$gonggao}</div>
							<div class = "text-muted">公告</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-md-6 col-lg-3">
				<div class = "panel panel-teal panel-widget">
					<div class = "row no-padding">
						<div class = "col-sm-3 col-lg-5 widget-left">
							<em class = "glyphicon glyphicon-user glyphicon-l"></em>
						</div>
						<div class = "col-sm-9 col-lg-7 widget-right">
							<div class = "large">{$insider}</div>
							<div class = "text-muted">会员</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-md-6 col-lg-3">
				<div class = "panel panel-red panel-widget">
					<div class = "row no-padding">
						<div class = "col-sm-3 col-lg-5 widget-left">
							<em class = "glyphicon glyphicon-pencil glyphicon-l"></em>
						</div>
						<div class = "col-sm-9 col-lg-7 widget-right">
							<div class = "large">{$message}</div>
							<div class = "text-muted">留言</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

	